@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0 300px;
  font-family: 'Arial', sans-serif;
  background-color: #fff6ef;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  color: #d35400;
  font-family: 'Sour Gummy', sans-serif;
}

.menu h2 {
  font-size: 1.5rem;
  color: #333;
  font-family: 'Sour Gummy', sans-serif;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.pizza {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(51, 51, 51, 0.1); /* Adds a shadow with color #333 */
}

.pizza h2, p {
  padding: 0 20px;
}

.pizza img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.btn {
  display: flex;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #d35400;
  color: #ffffff;
}

.btn:hover {
  background-color: #ff7a21;
}

.footer {
  margin: 100px auto;
}


/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/
